# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp
*.bak
*.swp

# Ignore environment and virtualenv folders
.env/
.venv/
venv/
env/


